@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

head {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

body {
  font-family: "Oswald", sans-serif;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
  color: white;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}


#nev_tabla {
      font-family: "Bebas Neue", sans-serif;
    background-color: green;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    padding: 2px;
}
#nev_tabla h1 {
    color: white;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.kontener {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(179, 179, 179);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 4px black;
}
